---
title: Meet Us
---
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>
        {% include contentheader.html %}

        <main>
            <h1>Meet the Team</h1>

            <div id="teammember">
                <div id="left">
                    <p>Our coaches are Bryan and Simran, combined 50-time world champions</p>
                </div>
                <div id="right">
                    <img src="assets/images/profile.png" alt="bryanandsim">
                </div>
            </div>

            <div id="teammember">
                <div id="left">
                    <p>Our most glorious leader is Wesley. He does changquan (ew)</p>
                </div>
                <div id="right">
                    <img src="assets/images/profile.png" alt="wesley">
                </div>
            </div>
            <div id="teammember">
                <div id="left">
                    <p>Our vice president and designated money manager is Ann. She does broadsword and broadsword</p>
                </div>
                <div id="right">
                    <img src="assets/images/profile.png" alt="ann">
                </div>
            </div>

        </main>

        {% include footer.html %}
    </body>

</html>
