<footer>
    <p>Social media thingies or whatever:
        <a href="https://www.facebook.com/dragonphoenixwushu" class="social-icon"> <i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/dragonphoenixwushuclub/" class="social-icon"> <i class="fa fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCDP9RGj4-etbfd1NqWTjIeA" class="social-icon"> <i class="fa fa-youtube"></i></a>
        <a href="mailto:dragonphoenixwushuclub@osu.edu" class="social-icon"> <i class="fa fa-envelope-o"></i></a></p>
</footer>
