---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* Responsive iFrame */

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

$masthead-color: #bb0000;
$masthead-link-color: white;
$primary-color: white;
$footer-background-color: #bb0000;
$muted-text-color: #D1D1D1;
$navicon-link-color-hover: white;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
