---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$masthead-color: #bb0000;
$masthead-link-color: white;
$primary-color: white;
$footer-background-color: #bb0000;
$muted-text-color: #D1D1D1;
$navicon-link-color-hover: white;
$right-sidebar-width-narrow: 0px;
$right-sidebar-width: 0px;
$youtube-color: #282828;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "custom/memberlist";
@import "custom/calendar";
